<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newretail.mapper.UserAuthenticationTableMapper" >
  <resultMap id="BaseResultMap" type="com.newretail.pojo.UserAuthenticationTable" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="identity" property="identity" jdbcType="INTEGER" />
    <result column="id_card_positive_url" property="idCardPositiveUrl" jdbcType="VARCHAR" />
    <result column="id_card_negative_url" property="idCardNegativeUrl" jdbcType="VARCHAR" />
    <result column="handheld_id_card_url" property="handheldIdCardUrl" jdbcType="VARCHAR" />
    <result column="student_card_id" property="studentCardId" jdbcType="VARCHAR" />
    <result column="student_card_url" property="studentCardUrl" jdbcType="VARCHAR" />
    <result column="business_license_id" property="businessLicenseId" jdbcType="VARCHAR" />
    <result column="business_license_url" property="businessLicenseUrl" jdbcType="VARCHAR" />
    <result column="authentication_status" property="authenticationStatus" jdbcType="INTEGER" />
    <result column="authentication_style" property="authenticationStyle" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, id_card, identity, id_card_positive_url, id_card_negative_url, handheld_id_card_url, 
    student_card_id, student_card_url, business_license_id, business_license_url, authentication_status, 
    authentication_style, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.newretail.pojo.UserAuthenticationTableExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_authentication_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.newretail.pojo.UserAuthenticationTableExample" >
    delete from user_authentication_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.newretail.pojo.UserAuthenticationTable" >
    insert into user_authentication_table (id, user_id, id_card, 
      identity, id_card_positive_url, id_card_negative_url, 
      handheld_id_card_url, student_card_id, student_card_url, 
      business_license_id, business_license_url, 
      authentication_status, authentication_style, 
      remark)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{idCard,jdbcType=VARCHAR}, 
      #{identity,jdbcType=INTEGER}, #{idCardPositiveUrl,jdbcType=VARCHAR}, #{idCardNegativeUrl,jdbcType=VARCHAR}, 
      #{handheldIdCardUrl,jdbcType=VARCHAR}, #{studentCardId,jdbcType=VARCHAR}, #{studentCardUrl,jdbcType=VARCHAR}, 
      #{businessLicenseId,jdbcType=VARCHAR}, #{businessLicenseUrl,jdbcType=VARCHAR}, 
      #{authenticationStatus,jdbcType=INTEGER}, #{authenticationStyle,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.newretail.pojo.UserAuthenticationTable" >
    insert into user_authentication_table
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="idCard != null" >
        id_card,
      </if>
      <if test="identity != null" >
        identity,
      </if>
      <if test="idCardPositiveUrl != null" >
        id_card_positive_url,
      </if>
      <if test="idCardNegativeUrl != null" >
        id_card_negative_url,
      </if>
      <if test="handheldIdCardUrl != null" >
        handheld_id_card_url,
      </if>
      <if test="studentCardId != null" >
        student_card_id,
      </if>
      <if test="studentCardUrl != null" >
        student_card_url,
      </if>
      <if test="businessLicenseId != null" >
        business_license_id,
      </if>
      <if test="businessLicenseUrl != null" >
        business_license_url,
      </if>
      <if test="authenticationStatus != null" >
        authentication_status,
      </if>
      <if test="authenticationStyle != null" >
        authentication_style,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="idCard != null" >
        #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="identity != null" >
        #{identity,jdbcType=INTEGER},
      </if>
      <if test="idCardPositiveUrl != null" >
        #{idCardPositiveUrl,jdbcType=VARCHAR},
      </if>
      <if test="idCardNegativeUrl != null" >
        #{idCardNegativeUrl,jdbcType=VARCHAR},
      </if>
      <if test="handheldIdCardUrl != null" >
        #{handheldIdCardUrl,jdbcType=VARCHAR},
      </if>
      <if test="studentCardId != null" >
        #{studentCardId,jdbcType=VARCHAR},
      </if>
      <if test="studentCardUrl != null" >
        #{studentCardUrl,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseId != null" >
        #{businessLicenseId,jdbcType=VARCHAR},
      </if>
      <if test="businessLicenseUrl != null" >
        #{businessLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="authenticationStatus != null" >
        #{authenticationStatus,jdbcType=INTEGER},
      </if>
      <if test="authenticationStyle != null" >
        #{authenticationStyle,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.newretail.pojo.UserAuthenticationTableExample" resultType="java.lang.Integer" >
    select count(*) from user_authentication_table
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_authentication_table
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.idCard != null" >
        id_card = #{record.idCard,jdbcType=VARCHAR},
      </if>
      <if test="record.identity != null" >
        identity = #{record.identity,jdbcType=INTEGER},
      </if>
      <if test="record.idCardPositiveUrl != null" >
        id_card_positive_url = #{record.idCardPositiveUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.idCardNegativeUrl != null" >
        id_card_negative_url = #{record.idCardNegativeUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.handheldIdCardUrl != null" >
        handheld_id_card_url = #{record.handheldIdCardUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.studentCardId != null" >
        student_card_id = #{record.studentCardId,jdbcType=VARCHAR},
      </if>
      <if test="record.studentCardUrl != null" >
        student_card_url = #{record.studentCardUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.businessLicenseId != null" >
        business_license_id = #{record.businessLicenseId,jdbcType=VARCHAR},
      </if>
      <if test="record.businessLicenseUrl != null" >
        business_license_url = #{record.businessLicenseUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.authenticationStatus != null" >
        authentication_status = #{record.authenticationStatus,jdbcType=INTEGER},
      </if>
      <if test="record.authenticationStyle != null" >
        authentication_style = #{record.authenticationStyle,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_authentication_table
    set id = #{record.id,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      id_card = #{record.idCard,jdbcType=VARCHAR},
      identity = #{record.identity,jdbcType=INTEGER},
      id_card_positive_url = #{record.idCardPositiveUrl,jdbcType=VARCHAR},
      id_card_negative_url = #{record.idCardNegativeUrl,jdbcType=VARCHAR},
      handheld_id_card_url = #{record.handheldIdCardUrl,jdbcType=VARCHAR},
      student_card_id = #{record.studentCardId,jdbcType=VARCHAR},
      student_card_url = #{record.studentCardUrl,jdbcType=VARCHAR},
      business_license_id = #{record.businessLicenseId,jdbcType=VARCHAR},
      business_license_url = #{record.businessLicenseUrl,jdbcType=VARCHAR},
      authentication_status = #{record.authenticationStatus,jdbcType=INTEGER},
      authentication_style = #{record.authenticationStyle,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>