<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newretail.mapper.custom.OrderModelMapper" >
  
 <select id="getOrderList" parameterType="map" resultType="map"> 
 	select 
		o.order_id "orderId",o.merchant_id "merchantId",o.order_code "orderCode",o.order_time "orderTime",
		o.pay_status "payStatus",o.deliver_status "deliverStatus",o.deliver_type "deliverType",o.order_status "orderStatus",o.deliver_id "deliverId",
		o.order_amount "orderAmount",o.receiver_id "receiverId",d.deliver_address "deliverAddress",d.receiver_phone "receiverPhone",
		u.username "receiverName"
	from
		order_table o,deliver_address_table d,user_table u
	<where>
		d.user_id = u.id and d.deliver_address_seq=o.deliver_address_seq and o.receiver_id = d.user_id
		<if test="orderCode != null and orderCode != ''">
			and o.order_code=#{orderCode}
		</if>
		<if test="orderTime != null and orderTime != ''">
			and o.order_time=#{orderTime} 
		</if>
		<if test="orderStatus != null and orderStatus != ''">
			and o.order_status =#{orderStatus}
		</if>
		<if test="deliverStatus != null and deliverStatus != ''">
			and o.deliver_status=#{deliverStatus}
		</if>
		<if test="deliverType != null and deliverType != ''">
			and o.deliver_type=#{deliverType}
		</if>
		<if test="merchantId != null and merchantId != ''">
			and o.merchant_id=#{merchantId}
		</if>	
	</where>		    
 </select> 
 
 <select id="getGoodsByOrderCode" parameterType="String" resultType="map">
	select 
		og.goods_id "goodsId",og.goods_num "goodsNum",og.goods_price "goodsPrice" ,g.goods_name "goodsName"
	from 
		order_to_goods_table og,goods_table g
	where 
		og.order_code=#{orderCode} and og.goods_id=g.goods_id
 </select>
 
 <update id="updateOrderStatus" >
 	update order_table set order_status = #{status} where order_code=#{orderCode}
 </update>
 
</mapper>